<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <h1>User Profile</h1>
    <h5>Id</h5>
    <p><%= user._id %></p>
    <h5>Name</h5>
    <p><%= user.name %></p>
    <h5>Email</h5>
    <p><%= user.email %></p>
    <form action="/users/logout" method="post">
      <input type="submit" value="Logout" />
    </form>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
